In [35]:
#1. Discuss string slicing and provide examples.

In [14]:
#string[start:stop:step]
#'start' is the index where the slice starts.
#'stop' is the index where the slice ends.
#'step' specifies the step or the stride between each index in the range.

In [17]:
#Examples
text= "Hello, World!"
slice1= text[0:5] #Simple Slice

In [18]:
slice1

'Hello'

In [19]:
text= "Hello, World!"
slice2= text[:5] #Ommiting start

In [20]:
slice2

'Hello'

In [21]:
slice3= text[7:] ##Ommiting stop

In [22]:
slice3

'World!'

In [23]:
#negative indices
text = "Hello, World!"
slice4 = text[-6:]
slice5 = text[-6:-1]

In [24]:
slice4

'World!'

In [25]:
slice5

'World'

In [26]:
#Step/Stride
text = "Hello, World!"
slice6 = text[::2]
slice7 = text[1::2]

In [27]:
slice6

'Hlo ol!'

In [28]:
slice7

'el,Wrd'

In [29]:
#Reversing a String
text = "Hello, World!"
reversed_text = text[::-1]
reversed_text

'!dlroW ,olleH'

In [30]:
#Slice with Start, Stop, and Step
text = "Hello, World!"
slice8 = text[1:9:2]
slice8

'el,W'

In [31]:
#Skipping Characters
text = "Hello, World!"
slice9 = text[::3]
slice9

'Hl r!'

In [32]:
#Combining Negative Indices and Steps
text = "Hello, World!"
slice10 = text[-1:-6:-1]
slice10

'!dlro'

In [36]:
#2. Explain the key features of lists in Python

In [37]:
#Ordered>> Lists maintain the order of elements. The order in which elements are added is preserved.
fruits = ["apple", "banana", "cherry"]
fruits

['apple', 'banana', 'cherry']

In [38]:
#Mutable>> Lists can be modified after creation. Elements can be added, removed, or changed.
fruits[1] = "blueberry"  
fruits

['apple', 'blueberry', 'cherry']

In [39]:
#Heterogeneous>> Lists can contain elements of different data types, including other lists.
mixed_list = [1, "hello", 3.14, [2, 4, 6]]
mixed_list

[1, 'hello', 3.14, [2, 4, 6]]

In [40]:
#Dynamic Size>> Lists can grow and shrink as needed. There is no need to declare a fixed size.
fruits.append("orange")  
fruits

['apple', 'blueberry', 'cherry', 'orange']

In [41]:
#Indexing and Slicing>> Elements in a list can be accessed using indices. Negative indices count from the end of the list. 
#Slicing can extract sublists.
first_fruit = fruits[0]
first_fruit

'apple'

In [42]:
last_fruit = fruits[-1]
last_fruit

'orange'

In [43]:
sublist = fruits[1:3]
sublist

['blueberry', 'cherry']

In [49]:
#Iteration>> Lists can be easily iterated over using loops.
for fruit in fruits:
    print(fruit)

apple
blueberry
cherry
orange

In [50]:
#Comprehensive Methods:

#Lists come with a variety of built-in methods for manipulation:
#append()>> Adds an element to the end of the list.
#extend()>> Adds elements from another iterable to the end of the list.
#insert()>> Inserts an element at a specified position.
#remove()>> Removes the first occurrence of a specified element.
#pop()>> Removes and returns the element at a specified position.
#clear()>> Removes all elements from the list.
#index()>> Returns the index of the first occurrence of a specified element.
#count()>> Returns the number of occurrences of a specified element.
#sort()>> Sorts the list in ascending order (can be customized with a key and reverse parameters).
#reverse()>> Reverses the order of the list.
#copy()>> Returns a shallow copy of the list.

In [52]:
#List Comprehensions>> Python supports a concise way to create lists using list comprehensions, 
#which can include conditions and transformations.
squares = [x**2 for x in range(10)]  
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
#Examples >> Creating and Modifying Lists:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)     
numbers

[1, 2, 3, 4, 5, 6]

In [55]:
numbers.insert(2, 2.5)
numbers

[1, 2, 2.5, 2.5, 3, 4, 5, 6]

In [56]:
numbers.remove(2.5) 
numbers

[1, 2, 2.5, 3, 4, 5, 6]

In [57]:
#Accessing Elements 
first = numbers[0] 
first

1

In [58]:
last = numbers[-1]
last

6

In [59]:
middle = numbers[1:4] 
middle

[2, 2.5, 3]

In [60]:
#Using List Methods
letters = ['a', 'b', 'c', 'a', 'b', 'c']
count_a = letters.count('a')  
count_a

2

In [61]:
index_b = letters.index('b')
index_b

1

In [64]:
letters.reverse()
letters

['c', 'b', 'a', 'c', 'b', 'a']

In [65]:
letters.sort()
letters

['a', 'a', 'b', 'b', 'c', 'c']

In [67]:
#List Comprehensions
evens = [x for x in range(10) if x % 2 == 0]
evens

[0, 2, 4, 6, 8]

In [1]:
# 3.Describe how to access, modify, and delete elements in a list with examples.
'''list can be accessed using their index. Python uses zero-based indexing, 
so the first element has an index of 0, the second element has an index of 1, and so on. 
Negative indices can be used to access elements from the end of the list, with -1 being the last element.'''

In [2]:
#Examples
fruits = ["apple", "banana", "cherry", "date"]

In [3]:
first_fruit = fruits[0]
first_fruit

'apple'

In [4]:
second_fruit = fruits[1]
second_fruit

'banana'

In [5]:
last_fruit = fruits[-1]
last_fruit

'date'

In [6]:
second_last_fruit = fruits[-2]
second_last_fruit

'cherry'

In [7]:
print(first_fruit, second_fruit, last_fruit, second_last_fruit)

apple banana date cherry

In [8]:
fruits = ["apple", "banana", "cherry", "date"]

# Modifying elements
fruits[1] = "blueberry"  
fruits

['apple', 'blueberry', 'cherry', 'date']

In [9]:
fruits[-1] = "dragonfruit"
fruits

['apple', 'blueberry', 'cherry', 'dragonfruit']

In [11]:
#Elements can be deleted from a list using several methods:

#Using 'del' Statement: Deletes the element at a specific index.
#Using 'remove()' Method: Removes the first occurrence of a specified value.
#Using 'pop()' Method: Removes and returns the element at a specified index. 
'''If no index is specified, it removes and returns the last element.'''
#Using 'clear()' Method: Removes all elements from the list.

'If no index is specified, it removes and returns the last element.'

In [12]:
fruits = ["apple", "banana", "cherry", "date"]

# Deleting elements
del fruits[1]  
del fruits[-1]
print(fruits)

['apple', 'cherry']

In [13]:
fruits = ["apple", "banana", "cherry", "date", "banana"]

# Removing elements by value
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'date', 'banana']

In [14]:
fruits = ["apple", "banana", "cherry", "date"]

# Popping elements
last_fruit = fruits.pop()
second_fruit = fruits.pop(1)
print(fruits, last_fruit, second_fruit)

['apple', 'cherry'] date banana

In [15]:
fruits = ["apple", "banana", "cherry", "date"]

# Clearing the list
fruits.clear()  
print(fruits)

[]

In [1]:
#4. Compare and contrast tuples and lists with examples.

#Tuples

#Immutable: Once created, the elements of a tuple cannot be changed.
#Ordered: Elements have a defined order and can be accessed via indices.
#Fixed Size: The size of a tuple is fixed once it is created.
#Heterogeneous: Can contain elements of different data types.
#Hashable: Can be used as keys in dictionaries if they contain only hashable types.

In [3]:
# Creating a tuple
my_tuple = (1, "hello", 3.14, (2, 4))

# Accessing elements
first_element = my_tuple[0]
nested_tuple = my_tuple[3]

try:
    my_tuple[1] = "world"  
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [1]:
#Tuple: Immutable. Once created, elements cannot be changed

my_tuple = (1, 2, 3)
try:
    my_tuple[1] = 4  
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [4]:
#5. Describe the key features of sets and provide examples of their use.

#Key Features of Sets

#Unordered >> Sets do not maintain any particular order of elements. 
#The order of elements is not guaranteed to be the same each time you access the set.

#Unique Elements>> Sets automatically remove duplicate elements. Each element in a set must be unique.

#Mutable>> Sets can be modified after creation. You can add or remove elements from a set.

#Dynamic Size>> The size of a set can change dynamically as elements are added or removed.

#Unindexed>> Sets do not support indexing, slicing, or other sequence-like behavior.

#Efficient Membership Testing >> Sets provide highly efficient methods for checking if an element is a member of the set, 
#typically faster than lists.

#Support for Mathematical Set Operations >> Sets support operations like union, intersection, difference, 
#and symmetric difference.

In [6]:
#Examples of Set Operations

#Creating a set
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [7]:
#Adding elements
fruits.add("date")
print(fruits)

{'apple', 'banana', 'date', 'cherry'}

In [8]:
#Removing elements
fruits.remove("banana")
print(fruits)

{'apple', 'date', 'cherry'}

In [9]:
fruits.discard("banana")
print(fruits)

{'apple', 'date', 'cherry'}

In [10]:
#Set Operations

#1.Union>>
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [11]:
#2. Intersection>>
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [12]:
#3. Difference>>
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [13]:
#4. Symmetric Difference >>
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

In [14]:
print("apple" in fruits)

True

In [15]:
print("banana" in fruits)

False

In [16]:
fruits

{'apple', 'cherry', 'date'}

In [17]:
#Use Cases
#removing duplicates
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

In [18]:
allowed_colors = {"red", "green", "blue"}
print("red" in allowed_colors)

True

In [19]:
print("yellow" in allowed_colors)

False

In [20]:
required_fields = {"name", "age", "email"}
user_data = {"name", "age", "email", "address"}
missing_fields = required_fields.difference(user_data)
print(missing_fields)

set()

In [21]:
#6. Discuss the use cases of tuples and sets in Python programming.

#Tuples and sets in Python serve different purposes and are used in various scenarios depending on 
#their properties and the requirements of the program. 

#Use Cases for Tuples

#Fixed Collections of Items>>
coordinates = (10.0, 20.0)
rgb_color = (255, 0, 0)

In [22]:
#Return Multiple Values from Functions>>
def get_min_max(numbers):
    return (min(numbers), max(numbers))

min_val, max_val = get_min_max([1, 2, 3, 4, 5])

In [23]:
#Immutability Guarantees >> the data remains constant and unchanged.
settings = ("localhost", 8080, "http")

In [24]:
#Dictionary Keys>> It can be used as keys in dictionaries because they are hashable.
location = {}
location[(40.7128, 74.0060)] = "New York"

In [25]:
#Heterogeneous Data Storage >> Tuples can store different data types together in a single sequence.
person = ("John", 30, "Engineer", True)

In [32]:
#Use Cases for Sets

#Eliminate Duplicates>>
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [31]:
#membership testing
allowed_colors = {"red", "green", "blue"}
if "red" in allowed_colors:
    print("Red is allowed.")

Red is allowed.

In [33]:
#Mathematical Set Operations >>
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  
print(union_set)

{1, 2, 3, 4, 5}

In [34]:
intersection_set = set1 & set2
print(intersection_set)

{3}

In [35]:
#Removing Elements from a List Efficiently>>
items = ["apple", "banana", "apple", "orange"]
items = list(set(items)) 
print(items)

['apple', 'banana', 'orange']

In [36]:
#Finding Unique Elements >>
words = ["hello", "world", "hello", "python"]
unique_words = set(words)
print(unique_words)

{'world', 'hello', 'python'}

In [37]:
#Data Validation >>
required_fields = {"name", "age", "email"}
provided_fields = {"name", "email"}
missing_fields = required_fields - provided_fields
print(missing_fields)

{'age'}

In [38]:
#7. Set Operations in Data Analysis >>
dataset1 = {"apple", "banana", "cherry"}
dataset2 = {"banana", "cherry", "date"}
common_items = dataset1.intersection(dataset2)
print(common_items)

{'banana', 'cherry'}

In [39]:
#7. Describe how to add, modify, and delete items in a dictionary with examples.

# Creating an empty dictionary
person = {}

# Adding items
person["name"] = "Alice"
person["age"] = 30
person["city"] = "New York"

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [40]:
person = {"name": "Alice", "age": 30, "city": "New York"}

# Modifying an existing item
person["age"] = 31
person["city"] = "San Francisco"

print(person)

{'name': 'Alice', 'age': 31, 'city': 'San Francisco'}

In [41]:
person = {"name": "Alice", "age": 31, "city": "San Francisco"}

# Deleting an item
del person["city"]

print(person)

{'name': 'Alice', 'age': 31}

In [42]:
person = {"name": "Alice", "age": 31, "city": "San Francisco"}

# Deleting an item using pop()
age = person.pop("age")

print(person)

{'name': 'Alice', 'city': 'San Francisco'}

In [43]:
print(age)

31

In [44]:
person = {"name": "Alice", "age": 31, "city": "San Francisco"}

# Deleting the last inserted item
last_item = person.popitem()

print(person)

{'name': 'Alice', 'age': 31}

In [45]:
print(last_item)

('city', 'San Francisco')

In [46]:
#8. Discuss the importance of dictionary keys being immutable and provide examples.

#Dictionary keys in Python must be immutable to ensure the integrity and reliability of the data structure. 
#Immutability guarantees that the hash value of a key remains constant, allowing dictionaries to 
#efficiently locate and retrieve values.

'''Immutable keys ensure the key's hash value does not change, maintaining consistent access to stored values.'''
'''Dictionaries rely on hashing for fast lookups. 
Mutable keys could change, leading to incorrect hash values and making lookups inefficient or erroneous.'''
'''Using immutable keys prevents accidental modifications that could corrupt the dictionary.'''

#Valid Immutable Key (String) >>
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])

Alice

In [47]:
#Invalid Mutable Key (List) >>
my_dict = {[1, 2]: "value"}
print(my_dict)

TypeError: unhashable type: 'list'

In [48]:
coordinates = {(40.7128, 74.0060): "New York", (34.0522, 118.2437): "Los Angeles"}
print(coordinates[(40.7128, 74.0060)])

New York